<html style="background: url('/images/paitakaappi.png') no-repeat center center fixed; 
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link href='http://fonts.googleapis.com/css?family=Chau+Philomene+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
<%= stylesheet_auto_link_tags %>


</head>

<body>

<div id="logger">

 
              <% form_tag :action=> "login" do %>
            
        
            <center>
            
        
        
            <div id="break" style="position:relative;padding-top:600px;padding-left:0px;">      
            <table>
            <tr>
            <td width="20px">
            <font style="font-family: 'Audiowide', cursive;color:#00000">Login:</font>
            </td>
            <td>
            <input type="text" name="user_login" id="user_login" size="20" color="#fff" value=""/><br/>
            </td>
            </tr>
            <tr>
            <td>
            <font style="font-family: 'Audiowide', cursive;color:#000000">Password:</font>
             </td>
             <td>
            <input type="password" name="user_password" id="user_password" size="20"/>
             </td>
             </tr>
             <tr>
             <td>
             &nbsp;
             </td>
             <td><input type="submit" name="login" value="SEND"></td>
             </tr>
            </tt>
            <tr>
            <tr>
            <td>&nbsp;</td>
            <td><font style="font-family: 'Audiowide', cursive;color:#000000"><a href="/login/signup">Signup here</a></font></td>
            <table>
            <br>
            <br>
            <br>
            
            
           <% end %>  


</div>

             

             
                       
  
   
        
</div>
</body></html> 
